<div class="container">
    <img src="{{movie.image}}" alt="{{movie.title}}">
</div>
<div class="body">
    <a href="/movies">Go Back</a>
    <div>
        <h4>{{movie.title}}</h4>
        <h5>{{movie.director}}</h5>
        <p>{{movie.stars}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>
    </div>
</div>